@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
   max-width: 100%;
   height: auto;
}

.canvas, .canvas-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
}

.canvas {
  background-color: #F2F2F2;
}

.canvas-list {
  gap: 1.56rem;
  background-color: #FFFFFF;
}

.travel-journal {
  width: 90%;
  font-family: 'Inter', sans-serif;
  color: #2B283A;
}

.container {
  width: 95%;
  border-radius: 0.31rem 0.31rem 0 0;
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 10px 15px -3px #9C9C9C; 
  box-shadow: 0px 10px 15px -3px #9C9C9C;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 1.25rem;
  letter-spacing: -1px;
  background-color: #F55A5A;
  padding: 1rem 0;
}

.travel-journal-letters {
  font-size: 1.125rem;
  margin-left: 0.5rem;
}

.container-img {
  object-fit: cover;
}

.info-container {
  padding: 0.5rem 0.94rem 1.9rem 0.94rem;
}

.container h1 {
  font-size: 1.56rem;
  margin-bottom: 0.94rem;
  margin-top: 1.25rem;
}

div h2 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 400;
  color: #2B283A;
  letter-spacing: 1.5px;
  margin-left: 0.625rem;
  margin-bottom: 0.3rem;
}

div a {
  display: block;
  font-size: 0.875rem;
  margin-top: 0.94rem;
}

div h3 {
  font-size: 0.94rem;
  margin-bottom: 0.94rem;
}

div p {
  font-size: 0.875rem;
  line-height: 1.5;
}

.location-img {
  width: 0.94rem;
  height: 0.94rem;
}

@media(min-width: 1100px) {

  .travel-journal {
    width: 40%;
  }

  .canvas-list {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 95%;
    -webkit-box-shadow: 0px 10px 15px -3px #9C9C9C; 
    box-shadow: 0px 10px 15px -3px #9C9C9C;
  }

  .container-img { 
    width: 30%;
  }

  div a {
    display: inline-block;
    margin-left: 0.94rem;
  }

  .container h1 {
    margin-top: 0.313rem;
    font-size: 1.25rem;
  }

  div h2 {
    font-size: 0.81rem;
  }
}
